mat-paginator {
    padding-top: 40px;
}

.buttonCon {
    display: flex;
    justify-content: center;
}

button {
    background-color: #c06ecc;
    width: 850px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    border: 0;
    transition: all 0.15s ease-in-out
}

button:hover {
    cursor: pointer;
    background-color: #ae63ba;
}

span {
    color: black;
}